<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net461" />
  <package id="Caliburn.Micro.Autofac" version="1.5.0" targetFramework="net461" />
  <package id="Caliburn.Micro.AutofacBootstrap" version="3.0.1.17" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net461" />
  <package id="Caliburn.Micro.Scaffolding" version="0.1.3" targetFramework="net461" />
  <package id="Caliburn.Micro.Telerik" version="2.1.9" targetFramework="net461" />
  <package id="EFCodeFirst" version="0.8" targetFramework="net461" />
  <package id="T4Scaffolding" version="0.8.0" targetFramework="net461" />
</packages>