<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net45" />
  <package id="Accord.MachineLearning" version="3.0.2" targetFramework="net45" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net45" />
  <package id="Accord.Neuro" version="3.0.2" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net45" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net45" />
  <package id="Baseclass.Contrib.Nuget.Output.Web" version="2.0.0" targetFramework="net45" />
  <package id="bootstrap" version="3.3.2" targetFramework="net45" />
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.6" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Eto.OxyPlot.Wpf" version="1.0.5377.38510" targetFramework="net45" />
  <package id="jQuery" version="2.1.3" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NQuantLib.dll" version="1.0.2" targetFramework="net45" />
  <package id="NuGet.Build" version="2.12.0" targetFramework="net45" />
  <package id="NuGet.Client" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="4.9.2" targetFramework="net45" developmentDependency="true" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Configuration" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.ContentModel" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="4.9.2" targetFramework="net45" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.Types" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.v2" version="3.5.0" targetFramework="net45" />
  <package id="NuGet.Protocol.Core.v3" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Protocol.VisualStudio" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Repositories" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.RuntimeModel" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="4.9.2" targetFramework="net45" />
  <package id="NuGetTest.Common.Core.Nuget" version="1.0.136" targetFramework="net45" />
  <package id="NuGetTest.Common.Web.Nuget" version="1.0.136" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1870" targetFramework="net45" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable1870" targetFramework="net45" />
  <package id="portable.accord.core" version="3.0.2.50804" targetFramework="net45" />
  <package id="portable.accord.machinelearning" version="3.0.2.50804" targetFramework="net45" />
  <package id="portable.accord.machinelearning.gpl" version="3.0.2.50804" targetFramework="net45" />
  <package id="portable.accord.math" version="3.0.2.50804" targetFramework="net45" />
  <package id="portable.accord.statistics" version="3.0.2.50804" targetFramework="net45" />
  <package id="QLNet" version="1.5.0.1" targetFramework="net45" />
  <package id="QuandlCS" version="1.0.0.0" targetFramework="net45" />
  <package id="Respond" version="1.4.2" targetFramework="net45" />
  <package id="shim" version="1.0.1.50804" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>